@model IEnumerable<Jira.Views.Dto.ProjectDetailModel>
@{
    ViewBag.Title = "프로젝트";
}

<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script>

</script>

<h2>프로젝트: JIRA</h2>

<div class="container row">
    <button class="btn btn-default">수정</button>
    <button class="btn btn-default">삭제</button>
</div>

<hr />

<table class="table table-striped" style="width:80%">
    <tr>
        <td style="width:20%">설명</td>
        <td>
            JIRA를 통해서 모든 프로젝트의 개발 및 유지보수를 진행한다.
        </td>
    </tr>
    <tr>
        <td>상태</td>
        <td>개발 중</td>
    </tr>
    <tr>
        <td>배포 Version</td>
        <td>Ver1.00</td>
    </tr>
    <tr>
        <td>잔행중인 스프린트</td>
        <td>Jira#0001</td>
    </tr>
    <tr>
        <td>Source Repository</td>
        <td>@Html.ActionLink("http://www.github.com/jira", "http://www.github.com/jira")
    </tr>
    <tr>
        <td>담당자</td>
        <td>
            <table class="table table-condensed">
                <tr>
                    <td style="width:20%">PM</td>
                    <td>김진수</td>
                    <td>jinsukim@gmail.com</td>
                    <td>010-4565-1139</td>
                </tr>
                <tr>
                    <td>Lead Developer</td>
                    <td>이태헌</td>
                    <td>jinsukim@gmail.com</td>
                    <td>010-4565-1139</td>
                </tr>
            </table>
            <button class="btn btn-default">담당자 추가</button>
        </td>
    </tr>
    <tr>
        <td>요구사항 리스트</td>
        <td>
            <table class="table table-condensed">
                <tr>
                    <td style="width:20%">Req#001</td>
                    <td>어쩌구 저쩌구...</td>
                </tr>
                <tr>
                    <td style="width:20%">Req#002</td>
                    <td>어쩌구 저쩌구...</td>
                </tr>
                <tr>
                    <td style="width:20%">Req#003</td>
                    <td>어쩌구 저쩌구...</td>
                </tr>
                <tr>
                    <td style="width:20%">Req#004</td>
                    <td>어쩌구 저쩌구...</td>
                </tr>
            </table>
            <button class="btn btn-default">요구사항 추가</button>
        </td>
    </tr>
</table>


<div id="ListTable">
    @*@Html.Partial("_TableList", Model)*@
</div>
<ul class="pagination"></ul>

<div id="ModalPopup">
    @*@Html.Partial("_ModalPopup", ViewData["CreateTicketModel"])*@
</div>

