@model IEnumerable<Jira.Views.Dto.IssueListModel>

@{
    ViewBag.Title = "운영이슈";
}
<script>
    $(document).ready(function () {
        $("#p_1").addClass("active");

        // Register click event handler
        $("#issueListTable").on("click", "li", pageNumberClickHandler);
    });

    function pageNumberClickHandler(event)
    {
        var pageNumber = $(this).attr('id').replace("p_", "");
        if (pageNumber == "" || pageNumber == null)
            return;

        if (pageNumber == "plus10") {
            // find 2nd li element's id
            var liId = $("ul li:nth-child(2)").attr('id').replace("p_", "");
            pageNumber = liId + 10;
            alert(pageNumber);
        }

        //ajax call
        $.ajax({
            url: '@Url.Action("GetIssueList", "Home")',
            data: { pageNumber: pageNumber, pageRows: '10' },
            type: 'GET',
            success: function (data) {
                $('#issueListTable').empty().append(data).clone();
                $('#p_' + pageNumber).addClass("active");
            },
            error: function () {
                alert("Internal Error");
            }
        });
    }
</script>
<h2>운영이슈</h2>
<hr />
<div id="issueListTable">
    @Html.Partial("_IssueListTable", Model);
</div>

